.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  
}

main {
  flex: 1;
  margin-top: 60PX; /* Espaço para o header fixo */
  
}

/* Scrollbar personalizada apenas em desktop */
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #03383A;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0F6B82;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}